@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: #EBE4D1;
  margin: 0;
}